configuration {
    font: "JetBrainsMono-Regular.ttf 12";
    show-icons: true;
    location: 0;
    fullscreen: false;
    width: 30;
    lines: 10;
    padding: 20;
    monitor: 1;
}

@theme "~/dotfiles/rofi/themes/nord.pink.rasi"
