configuration {
    font: "JetBrainsMono-Regular.ttf 12";
    show-icons: true;
    fullscreen: false;
    width: 30;
    lines: 10;
    padding: 20;
}

@theme "~/private_projects/dotfiles_depc/rofi/themes/nord.pink.rasi"
